#请求端口号
server:
  port: 1015
  servlet:
    #请求路径
    context-path: /demo


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/redis-demo?useUnicode=true&characterEncoding=utf-8&userSSL=false&serverTimezone=GMT%2B8
    username: root
    password: 123456
  redis:
    #    Redis服务器地址
    host: 127.0.0.1
    #      Redis服务器链接端
    port: 6379
    #      Redis服务器密码
    password:
    #      Redis数据库索引
    database: 3
    jedis:
      pool:
        #       连接池最大连接数（使用负值表示没有限制）
        max-active: 20
        #        连接池最大阻塞时间（使用负值表示没有限制）
        max-wait: -1
        #          最大空闲链接
        max-idle: 10
        #          最小空闲链接
        min-idle: 0

    #          链接超市时间（毫秒）
    timeout: 1000



#日志
logging:
  file:
    path: ./logs/
    #日志保存文件名
    name: logs
  level:
    com.liang.redisdemo: debug